<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SilentCity"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBHzFNnUjup_7-LkkG1UIh7otAEKtV52JU" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SignInActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"> </activity>


        <activity
            android:name=".RecordNoiseActivity"
            android:exported="false"
            android:theme="@style/Theme.SilentCity" />

        <activity
            android:name=".SelectCauseActivity"
            android:exported="false"
            android:theme="@style/Theme.SilentCity" />

        <activity
            android:name=".MarkerInfoActivity"
            android:exported="false"
            android:theme="@style/Theme.SilentCity" />


        <activity
            android:name=".InstructionsActivity"
            android:label="NoiseNet"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.SilentCity">
        </activity>

        <activity
            android:name=".WhyImportantActivity"
            android:exported="false"
            android:theme="@style/Theme.SilentCity"
            />

        <activity
            android:name=".StatisticsActivity"
            android:exported="false"
            android:theme="@style/Theme.SilentCity" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.SilentCity" />

    </application>

</manifest>